/* defaults */
body {
  font-family: Azeret-Mono, monospace;
  margin: 0;
  /* margin-bottom: 100px; */
}

html{
  scroll-behavior: smooth;
}

button{
  /* font-family:Azeret Mono ; */
  /* Declaring font-family again doesn't work | body font-family is enough */
  font-size: 20px;
  border: 1px solid black;
  height: 48px;
  width: 150px;
  border-radius: 8px;
  background-color: white;
  cursor: pointer;
}

button:hover {
  background-color: black;
  color: white;
  border: none;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}
/* margin: 50px 150px; ~ Ashraful */
.name {
  margin-left: 100px;
}
.name-link,
.footer-name {
  cursor: pointer;
  /* to remove all the default text decoration */
  text-decoration: inherit;
  color: inherit;
}

.download-resume {
  width: 228px;
  height: 58px;
  margin-right: 100px;
}

/* body upper section */
.upper-section {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;

  background-image: url(../assets/bg.png);
  padding-top: 20px;
  padding-bottom: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.visit-me {
  color: white;
  background-color: black;
  border: none;
}
.visit-me:hover{
  border: 1px solid black;
  color: black;
  background-color: white;
}

/* body middle section  */

.middle-section {
  background-color: rgba(13, 19, 33, 0.02);
  padding: 150px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.question {
  text-align: center;
}
.question h1 {
  font-size: 40px;
}

.reason {
  display: flex;
  align-content: space-between;
  gap: 130px;

  background-color: white;
  padding: 40px;
}

.learn-more {
  border-radius: 0px;
  border: 2px solid rgb(126, 123, 123);
  color: rgb(126, 123, 123);
  font-weight: 500;
  margin-top: 25px;
}

/* lower middle section  */

.my-personal-journey {
  display: flex;
  flex-direction: column;
}

.personal-journey-text,
.developer-journey-text,
.future-developer-journey-text {
  text-align: center;
}

.personal-journey-video {
  padding: 60px;
  margin: 70px;
  margin-top: 20px;
  align-self: center;
  border: 1px solid black;
  border-radius: 7px;
}

/* ........ */
.developer-journey {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  margin-bottom: 80px;
}

.language {
  height: auto;
  width: 200px;
  padding: 25px;
  border-radius: 7px;
}

.skill-details {
  font-size: 14px;
  color: rgb(106, 105, 105);
  font-weight: 600;
}

.learn-more2 {
  color: rgb(36, 35, 35);
}

.html{
  background-color: rgb(252, 231, 231);
}
.css {
  background-color: rgb(220, 250, 250);
}
.js{
  background-color: rgb(247, 235, 219);
}

/* ........ */
.future-developer-journey {
  display: flex;
  flex-direction: column;

}

.future-projects {
  border: 1px solid black;
  border-radius: 7px;
  margin: 50px;
  padding: 20px;

  display: flex;
  gap: 30px;
}


/* ........ */
.feedback {
  background-image: linear-gradient(rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.548), rgba(0, 0, 0, 0.2)), url(../assets/handshake.jpg);
  /* background: linear-gradient(rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.548), rgba(0, 0, 0, 0.2)); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  color: white;
  text-align: center;
  padding: 50px;
  margin: 50px;
  border-radius: 10px;
}

.feedback-input {
  display: flex;
  justify-content: center;
}

.input-submit {
  height: 45px;
  border: none;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  padding-left: 15px;
  width: 40%;
  font-size: 15px;
}

.submit-button {
  height: 47px;
  border: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;

  font-size: 17px ;
  border: 2px solid black;
  border-top: none;
  border-bottom: none;
  border-right: none;
}

/* footer  */
.footer {
  display: flex;
  justify-content: space-evenly;

  background-color: rgba(13, 19, 33, 0.02)
}

.footer img {
  width: 30px;
}

.socials {
  display: flex;
  align-items: center;
  gap: 7px;
}