/* defaults */
body {
  font-family: Azeret-Mono, monospace;
  margin: 0;
  margin-bottom: 100px;
}

button{
  font-family:Azeret Mono ;
  font-size: 20px;
  border: 1px solid black;
  height: 48px;
  width: 150px;
  border-radius: 8px;
  background-color: white;
  cursor: pointer;
}

button:hover {
  background-color: black;
  color: white;
  border: none;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}

.name {
  margin-left: 100px;
}
.name-link {
  cursor: pointer;
  /* to remove all the default text decoration */
  text-decoration: inherit;
  color: inherit;
}

.download-resume {
  width: 228px;
  height: 58px;
  margin-right: 100px;
}

/* body upper section */
.upper-section {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;

  background-image: url(../assets/bg.png);
  padding-top: 20px;
  padding-bottom: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.visit-me {
  color: white;
  background-color: black;
  border: none;
}
.visit-me:hover{
  border: 1px solid black;
  color: black;
  background-color: white;
}

/* body middle section  */

.middle-section {
  background-color: rgba(13, 19, 33, 0.02);
  padding: 150px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.question {
  text-align: center;
}
.question h1 {
  font-size: 40px;
}

.reason {
  display: flex;
  align-content: space-between;
  gap: 130px;

  background-color: white;
  padding: 40px;
}

.learn-more {
  border-radius: 0px;
  border: 2px solid rgb(126, 123, 123);
  color: rgb(126, 123, 123);
  font-weight: 500;
  margin-top: 25px;
}

/* lower middle section  */

.my-personal-journey {
  display: flex;
  flex-direction: column;
}

.personal-journey-text {
  text-align: center;
}

.personal-journey-video {
  padding: 60px;
  margin: 70px;
  margin-top: 20px;
  align-self: center;
  border: 1px solid black;
  border-radius: 7px;
}

.developer-journey-text {
  text-align: center;
}

.developer-journey {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
}

.language {
  height: auto;
  width: 200px;
  padding: 25px;
  border-radius: 7px;
}

.skill-details {
  font-size: 13px;
}

.html{
  background-color: rgb(252, 231, 231);
}

.css {
  background-color: rgb(220, 250, 250);
}

.js{
  background-color: rgb(247, 235, 219);
}